:root{
    --blue: #4E48E0;
    --off-black: #1B1B1B;
    --black: #000;
    --white: #FFF;
}

*{
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    font-weight: 100!important;
    background: #FEFEFE;
}

img{
    max-width: 100%;
    height: auto;
}

a{
    text-decoration: none;
    color: var(--black)!important;
}
