.section-books{
    padding: 5.5rem 2.75rem;
}

.book{
    flex-direction: row;
    height: 100%;
    background: var(--white);
    border-radius: 1.25rem;
    box-shadow: 0px 4px 46px 0px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    transition: all 0.3s ease-out;
}

.book .book-info{
    padding:  2.45rem 0rem 2.45rem 2.45rem;
    flex-basis: 51%;
}

.book .book-title{
    color: var(--black);
    font-size: 2rem;
    margin-bottom: 0.75rem;
}

.book .book-author{
    margin-bottom: 1rem;
}

.book .book-author-name{
    font-size: 1.125rem;
    padding-left: 0.5rem;
}

.book .book-stats{
    margin-bottom: 1rem;
}

.book .book-stats .book-stats-rating-star .book-stats-ratings-star-filled{
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    background-image: url("../../images/icons/star-filled.svg");
}

.book .book-stats .book-stats-rating-star .book-stats-ratings-star-unfilled{
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    background-image: url("../../images/icons/star-unfilled.svg");
}

.book .book-stats .book-stats-rating-star{
    display: inline-block;
}

.book .book-stats .book-stats-ratings-text{
    display: inline-block;
}

.book .book-stats .book-stats-ratings-text span{
    color: #5B5B5B;
    font-size: 0.875rem;
}

.book .book-description{
    max-width: 26rem;
    margin-bottom: 1.3rem;
    font-size: 1rem;
}

.book .book-description .book-description-view-more{
    font-size: 1rem;
    transition: all 0.3s ease-out;
}

.book .book-description .book-description-view-more:hover{
    text-decoration: underline;
    text-decoration-color: var(--blue);
    transition: all 0.3s ease-out;
}

.book .book-published-time{
    color: #5A5A5A;
    font-size: 0.875rem;
    margin-bottom: 1.5rem;
}

.book .book-buttons a{
    margin-right: 0.75rem;
}

@media(max-width:768px){
    .section-books{
        padding: 1.5rem 1.75rem;
    }
    .book{
        flex-direction: column;
    }
    .book-cover{
        width: 100%;
        border-radius: 1.25rem;
    }
    .book .book-info{
        padding: 1.25rem;
    }
    .book .book-title{
        text-align: left;
        font-size: 1.125rem;
    }
    .book .book-author-name{
        font-size: 1rem;
    }
    .book .book-stats .book-stats-rating-star{
        display: block;
    }
    .book .book-description{
        font-size: 0.875rem;
        margin-bottom: 1rem;
    }
    .book .book-description .book-description-view-more{
        font-size: 0.875rem;
    }
    .book .book-published-time{
        font-size: 0.875rem;
    }
    .book .book-buttons{
        text-align: center;
    }
    .book .book-buttons a{
        margin-right: 0rem;
    }
    .book .book-buttons a:first-child{
        margin-right: 0.8rem;
    }
}

@media(max-width:992px){
    .book{
        flex-direction: column;
    }
    .book .book-buttons{
        text-align: center;
    }
}

@media(min-width: 1200px){
    .book .book-info{
        padding:  2rem 0rem 2rem 2rem;
    }
    .book .book-info{
        flex-basis: 55%;
    }
}