.footer{
    padding: 3rem 0;
}

.footer .footer-logo{
    display: flex;
    flex-direction: column;
}

.footer .footer-logo .footer-logo-text{
    font-weight: 400;
}

.footer .footer-text p{
    margin-bottom: 0!important;
}

.footer .footer-social .footer-social-icon{
    display: inline-block;
    margin-right: 1rem;
    transition: all 0.3s ease-out;
}

.footer .footer-social .footer-social-icon:hover{
    opacity: 0.6;
}

.copyright-text{
    text-align: center;
    background-color: #F3F3F3;
    padding: 2rem;
}

.copyright-text p{
    font-weight: 400;
    margin-bottom: 0!important;
}

@media(max-width: 768px){
    .footer{
        text-align: center;
        flex-direction: column;
        gap: 2rem;
        padding: 2rem 0;
    }
}