.newsletter{
    background-color: #D6F9FC;
    text-align: center;
    padding: 2.75rem 2.75rem;
    border-radius: 1.25rem;
}

.newsletter .newsletter-title{
    margin-bottom: 1.25rem;
}

.newsletter .newsletter-description{
    max-width: 26rem;
    font-weight: 400;
    font-size: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.25rem;
}

.newsletter .newsletter-email{
    display: inline-block;
    width: 100%;
    align-items: center;
}

.newsletter .newsletter-email .newsletter-email-input{
    display: inline-block;
    font-size: 0.875rem;
    padding: 0.68rem 1.25rem;
    border-radius: 0.375rem!important;
    border: 1px solid #BABABA;
    max-width: 15.9rem;
    margin-left: auto;
    margin-right: auto;
}

.newsletter .newsletter-email .newsletter-email-input:focus{
    border: 1px solid #BABABA!important;
    outline: none!important;
    box-shadow: none!important;
}

@media (max-width:768px){
    .newsletter .newsletter-email .newsletter-email-input{
        display: block;
        margin-bottom: 1rem;
    }
    .newsletter .newsletter-email .newsletter-email-join{
        display: inline-block;
    }
}