.section-community{
    background-color: #D6F9FC;
    padding: 2.75rem 0;
}

.section-community .section-community-title{
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1.25rem;
}

.section-community .section-community-stats{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.section-community .section-community-stats .section-community-stats-single{
    padding: 0 2.75rem;
    text-align: center;
}

.section-community .section-community-stats .section-community-stats-single .section-community-stats-single-number{
    font-size: 2rem;
    display: block;
    background: linear-gradient(173deg, #5CC4CD 21.23%, #5587D6 65.58%, #4E48E0 107.59%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-community .section-community-stats .section-community-stats-single .section-community-stats-single-text{
    font-size: 1rem;
}

.section-community-stats-seperator{
    content: "";
    height: 100%;
    width: 1px;
    background-color: #A7A7A7;
}

@media (max-width:768px){
    .section-community .section-community-stats{
        flex-direction: column;
        gap: 0.8rem;
    }

    .section-community .section-community-title{
        font-size: 1.6rem;
    }

    .section-community .section-community-stats .section-community-stats-single .section-community-stats-single-number{
        font-size: 1.6rem;
    }
}
